<div class="nav" id="js-nav">
	<ul>
		<li><%= link_to 'Documentation', '/docs/index.html' %>
			<ul>
				<li><%= link_to 'Reference Manual', '/docs/reference.html' %></li>
				<li><%= link_to 'User Manual', '/docs/userman/index.html' %>
					<ul>
						<li><%= link_to 'Getting Started', '/docs/userman/start.html' %></li>
						<li><%= link_to 'Keep Reading...', '/docs/userman/continue.html' %></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><%= link_to 'Downloads', '/downloads/index.html' %>
			<ul>
				<li><%= link_to 'Copyright', '/downloads/copyright.html' %></li>
				<li><%= link_to 'Changes', '/downloads/changelog.html' %></li>
			</ul>
		</li>
		<li><%= link_to 'Support', '/support.html' %></li>
		<li><%= link_to 'Miscellaneous', '/misc.html' %>
			<ul>
				<%= "<li>" + link_to('Bugs', '/bugs.html') + "</li>" if development? %>
			</ul>
		</li>
	</ul>
</div>